.header{
    padding: 10px 20px;
    background-color: aquamarine;
}

.header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > nav #logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 27px;
    color:whitesmoke;
}

.header > nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
}